<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeworks.pai"
    android:versionCode="31"
    android:versionName="1.31" >
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <!-- android:theme="@style/AppTheme"  -->

        <activity android:name="StudyActivity"
                  android:label="@string/study_activity_window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  
        
        <activity android:name="StudyDetailActivity"
                  android:label="@string/study_detail_activity_window"
				  >
				  <!--  android:parentActivityName="StudyActivity"-->
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SECURITY_DETAIL" />
            </intent-filter>
        </activity>  
        
        <service android:name=".processor.UpdateService" >
        </service>
                
        <activity android:name="SecurityListActivity"
                  android:label="@string/security_list_window">
				  <!-- android:parentActivityName="StudyActivity"-->
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.codeworks.pai.category.SECURITY_LIST" />
                </intent-filter>
        </activity>  
                     
        <activity android:name="SecurityDetailActivity"
                  android:label="@string/security_detail_window"
				  android:parentActivityName="SecurityListActivity">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.codeworks.pai.category.SECURITY_DETAIL" />
                </intent-filter>
        </activity>    

        <activity android:name="SettingsActivity"
				  android:parentActivityName="StudyActivity"
                  android:label="@string/settings_window">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.codeworks.pai.category.SETTINGS" />
                </intent-filter>
        </activity>    
        
        <provider 
            android:exported="false"
            android:name=".contentprovider.PaiContentProvider"
            android:authorities="com.codeworks.pai.contentprovider" >
        </provider>        

    </application>
    
</manifest>